<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IEchoService" />
      </basicHttpBinding>
      <netNamedPipeBinding>
        <binding name="NetNamedPipeBinding_IEchoService" />
      </netNamedPipeBinding>
      <netTcpBinding>
        <binding name="NetTcpBinding_IEchoService" />
      </netTcpBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IEchoService" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:13044/our/service/basic"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEchoService"
          contract="EchoServiceReference.IEchoService" name="BasicHttpBinding_IEchoService" />
      <endpoint address="http://localhost:13044/our/service/ws" binding="wsHttpBinding"
          bindingConfiguration="WSHttpBinding_IEchoService" contract="EchoServiceReference.IEchoService"
          name="WSHttpBinding_IEchoService">
        <identity>
          <userPrincipalName value="postanogovis@movs.psu" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:13054/our/service/tcp"
          binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IEchoService"
          contract="EchoServiceReference.IEchoService" name="NetTcpBinding_IEchoService">
        <identity>
          <userPrincipalName value="postanogovis@movs.psu" />
        </identity>
      </endpoint>
      <endpoint address="net.pipe://localhost/our/service/pipe" binding="netNamedPipeBinding"
          bindingConfiguration="NetNamedPipeBinding_IEchoService" contract="EchoServiceReference.IEchoService"
          name="NetNamedPipeBinding_IEchoService">
        <identity>
          <userPrincipalName value="postanogovis@movs.psu" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>